<h1>Pirate</h1>
<div class="Pirate">
    <h3>Name: <%= @pirate.name %></h3>
    <h3>Height: <%= @pirate.height %></h3>
    <h3>Weight: <%= @pirate.weight %></h3>
</div><br>
 
<h1>Ship One</h1>
<% @ships.each.with_index do |ship, index| %>
  <div class="ships">
  <% if index == 0 %>
    <h3>Name: <%= ship.name %></h3>
    <h3>Type: <%= ship.type %></h3>
    <h3>Booty: <%= ship.booty %></h3>
    <%end%>
  <%end%>
  </div><br>

  <h1>Ship Two</h1>
<% @ships.each.with_index do |ship, index| %>
  <div class="ships">
  <% if index == 1 %>
    <h3>Name: <%= ship.name %></h3>
    <h3>Type: <%= ship.type %></h3>
    <h3>Booty: <%= ship.booty %></h3>
    <%end%>
  <%end%>
  </div><br>




